WPFApplication/Connected Services/ServiceHostReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ToolsBD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FilmDTOLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IToolsBD_GetFilms_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilms" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_GetFilms_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmsResponse" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_SearchMovies_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchMovies" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_SearchMovies_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchMoviesResponse" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_GetMoviesByActor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByActor" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_GetMoviesByActor_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMoviesByActorResponse" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_SearchActors_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchActors" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_SearchActors_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchActorsResponse" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_GetFilmById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmById" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_GetFilmById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilmByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_InsertTrailer_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTrailer" />
  </wsdl:message>
  <wsdl:message name="IToolsBD_InsertTrailer_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTrailerResponse" />
  </wsdl:message>
  <wsdl:portType name="IToolsBD">
    <wsdl:operation name="GetFilms">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/GetFilms" message="tns:IToolsBD_GetFilms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/GetFilmsResponse" message="tns:IToolsBD_GetFilms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchMovies">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/SearchMovies" message="tns:IToolsBD_SearchMovies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/SearchMoviesResponse" message="tns:IToolsBD_SearchMovies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByActor">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/GetMoviesByActor" message="tns:IToolsBD_GetMoviesByActor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/GetMoviesByActorResponse" message="tns:IToolsBD_GetMoviesByActor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchActors">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/SearchActors" message="tns:IToolsBD_SearchActors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/SearchActorsResponse" message="tns:IToolsBD_SearchActors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/GetFilmById" message="tns:IToolsBD_GetFilmById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/GetFilmByIdResponse" message="tns:IToolsBD_GetFilmById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertTrailer">
      <wsdl:input wsaw:Action="http://tempuri.org/IToolsBD/InsertTrailer" message="tns:IToolsBD_InsertTrailer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IToolsBD/InsertTrailerResponse" message="tns:IToolsBD_InsertTrailer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IToolsBD" type="tns:IToolsBD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilms">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/GetFilms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchMovies">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/SearchMovies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMoviesByActor">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/GetMoviesByActor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchActors">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/SearchActors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilmById">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/GetFilmById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTrailer">
      <soap:operation soapAction="http://tempuri.org/IToolsBD/InsertTrailer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ToolsBD">
    <wsdl:port name="BasicHttpBinding_IToolsBD" binding="tns:BasicHttpBinding_IToolsBD">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFLibrary/ToolsBD/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>